<div class="row">
    <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Inventory Overview</h5>
        <ol class="breadcrumbs">
            <li>
                <a>My Inventory</a>
            </li>
            <li>
                <a class="active" ui-sref="all-inventory">All Inventory</a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 12">
        <p class="caption">The following are the list of all of your Inventory items details in your system.</p>
        <div id="inventoryOverviewTable"></div>
    </div>
</div>