<div class="row">
    <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Ongoing Tasks</h5>
        <ol class="breadcrumbs">
            <li>
                <a>Gemeral</a>
            </li>
            <li>
                <a>Tasks</a>
            </li>
            <li>
                <a class="active" ui-sref="tasks-ongoing">Ongoing Tasks</a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 12">
        <p class="caption">The following are the files which you have uploaded or which you are having permissioin to access them.</p>
        <div id="jsGrid-static"></div>
    </div>
</div>